/* Ci-dessous le code du header et de la navbar associée
Définition d'une média queries pour les tailles tablette et mobile */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 30px 0 30px;
    margin: 30px 0 50px 0px; 

    .logo{
        width: 100%;
    }

    .nav-bar{
        display: flex;
        gap: 30px;
        list-style-type: none;
        padding-left: 30px;
        
    }

    a {
        text-decoration: none;
        color: #000000;
        text-wrap: nowrap;
        font-size: 24px;
        &.underline{
            text-decoration: underline;
        }
    }
}

@media (max-width: 768.2px){
        header{
            margin-bottom: 10px;
            margin-top: 20px;
            
            a{
                font-size: 12px;
                font-weight: 700;
                text-transform: uppercase;
            }
        }

        .logo{
            width: 70%;
        }
        
    }